openapi: 3.0.0
info:
  title: Turnip React API
  version: 0.4.0

servers:
  - url: https://react.turnipxenon.com
    description: Production server
  - url: http://localhost:3000
    description: Local test server

components:
  schemas:
    PublicUser:
      type: object
      required:
        - username
        - id
      properties:
        username:
          type: string
        id:
          type: string
    JobSession:
      type: object
      required:
        - id
        - userId
        - title
        - startDate
        - endDate
        - isPublic
      properties:
        id:
          type: string
        userId:
          type: string
        title:
          type: string
        startDate:
          type: string
        endDate:
          type: string
        isPublic:
          type: boolean
  parameters:
    JobSessionParameterID:
      name: sessionId   # Note the name is the same as in the path
      in: path
      required: true
      description: The session ID
      schema:
        type: string
    UserParameterID:
      name: userId   # Note the name is the same as in the path
      in: path
      required: true
      description: The user ID
      schema:
        type: string

paths:
  /api/login:
    post:
      summary: Login as a users to be able to do more things in the website
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicUser"
        '401':
          description: Login error

  /api/job-tracker/users/{userId}/sessions:
    post:
      summary: Create new job session
      parameters:
        - $ref: "#/components/parameters/UserParameterID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
      responses:
        '200':
          description: Job sessions created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobSession"
        '401':
          description: Unauthorized error
    get:
      summary: Get all job sessions for the user
      parameters:
        - $ref: "#/components/parameters/UserParameterID"
      responses:
        '200':
          description: Job sessions found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/JobSession"
        '401':
          description: Unauthorized error
        '404':
          description: Missing job session

  /api/job-tracker/users/{userId}/sessions/{sessionId}:
    get:
      summary: Get job session
      parameters:
        - $ref: "#/components/parameters/UserParameterID"
        - $ref: "#/components/parameters/JobSessionParameterID"
      responses:
        '200':
          description: Job session found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobSession"
        '401':
          description: Unauthorized error
        '404':
          description: Missing job session
    put:
      summary: Update job session
      parameters:
        - $ref: "#/components/parameters/UserParameterID"
        - $ref: "#/components/parameters/JobSessionParameterID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobSession"
      responses:
        '200':
          description: Job session found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobSession"
        '400':
          description: Bad request
        '401':
          description: Unauthorized error
        '404':
          description: Missing job session
    delete:
      summary: Delete job session
      parameters:
        - $ref: "#/components/parameters/UserParameterID"
        - $ref: "#/components/parameters/JobSessionParameterID"
      responses:
        '200':
          description: Successfully delete job session
        '401':
          description: Unauthorized error
        '404':
          description: Missing job session